
.reviews-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    max-width: 100%;
}

.reviews-heading {
    text-align: center;
    color: #333;
}

.review-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 20px;
}

.review-card-content {
    display: flex;
    align-items: center;

 
}

.review-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.review-date {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.review-author {
    font-size: 18px;
    color: #333;
    margin-bottom: 3px;
    margin-left: 5px;
}

.review-text {
    font-size: 16px;
    color: #555;
    margin-bottom: 3px;
    margin-left: 5px;
}



/* buttons code  */

.btn_gala_2{
    background-color: black;
color: white;
border-radius: 50%;
margin-right: 20px;
font-size: 20px;
padding: 20px;
margin-top: 50px;
}

.btn_gala_2:hover{
    background-color: yellow;
    color: black;
}

.btn_gala_2:active {
    background-color: yellow;

}

.buttons_main_2{
    margin-top: 50px;
}
